<!--The content below is only a placeholder and can be replaced.-->
<head xmlns="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ texts.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="left-bar col-lg-2">
            <div class="row">
                <div class="navbar">
                    <i class="material-icons pull-left">menu</i>
                    <div class="pull-right">
                        <i class="material-icons truck-route-icon">map</i>
                        <span style="line-height: 72px; vertical-align: middle;"> {{ texts.title }}</span>
                    </div>
                </div>
            </div>

            <span id="result-km">Toplam uzaklık: {{totalDistance}} km</span>
            <div class="add-route">
                <div class="row stopoverContainer">
                    <div class="col-sm-9 whereToWhere">
                        {{texts.stopover}}
                    </div>
                    <div class="col-sm-3 clearAll" (click)="clearDirection()">
                        {{texts.clear}}
                    </div>
                </div>
                <input type="text" id="stopover-textfield" [(ngModel)]="city" (keyup)="searchCity()"
                       placeholder="{{texts.address}}"/>
                <ul class="results" *ngIf="observeSearchText()">
                    <li>
                        <a style="border-radius: 0"
                           class="list-group-item list-address-item"
                           *ngFor="let place of places"
                           (click)="putIntoArray(place)">
                            {{ place.description }}
                        </a>
                    </li>
                </ul>
                <ul class="results">
                    <li>
                        <a style="border-radius: 0"
                           class="list-group-item"
                           *ngFor="let address of addressArray; let i = index">
                            <div class="row">
                                <div class="col-sm-2">
                                    <i class="material-icons">location_on</i>
                                </div>
                                <div class="col-sm-8">
                                    {{ address.description }}
                                </div>
                                <div class="col-sm-2" *ngIf="showClearButton">
                                    <i class="material-icons clearButton" (click)="popFromArray(i)">clear</i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="search-container">
                <ul id="search-result-list"></ul>
            </div>
            <ul class="stopover-list"></ul>
            <div class="routes">
                <ul class="route-list"></ul>
            </div>
            <div class="road-options">
                <h5 style="opacity: 0.5; color: white;">{{texts.roadProfile}}</h5>
                <div class="roadTypeContainer">
                    <label class="container">{{texts.roadTypes.paidRoad}}
                        <input ngModel="paidRoad" type="checkbox" style="display: none;" id="tollRoad">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">{{texts.roadTypes.ferry}}
                        <input ngModel="ferry" type="checkbox" style="display: none;" id="boatFerry">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">{{texts.roadTypes.tunnel}}
                        <input ngModel="tunnel" type="checkbox" style="display: none;" id="tunnel">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">{{texts.roadTypes.groundRoad}}
                        <input ngModel="groundRoad" type="checkbox" style="display: none;" id="dirtRoad">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="truck-profile">
                <button class="btn btn-primary" id="calculate-button" style="background: white; color: black;"
                        (click)="doGet()">{{texts.calculateRoute}}
                </button>
            </div>
            <div class="row footer">
                <div class="col-sm-2">
                    <i id="truck-route-icon-bottom" class="material-icons">map</i>
                </div>
                <div class="col-sm-8 footer-text">
                    <p>{{texts.footerText}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-10">
            <agm-map [latitude]="currentLocation.lat" [longitude]="currentLocation.lng" [zoom]="zoom">
                <div *ngIf="displayMarker">
                    <agm-marker [latitude]="currentLocation.lat" [longitude]="currentLocation.lng"></agm-marker>
                </div>

                <div *ngFor="let path of dir">
                    <agm-direction *ngIf="dir"
                                   [origin]="path.origin"
                                   [destination]="path.destination"
                                   [travelMode]="path.travelMode"
                                   [waypoints]="path.waypoints"
                                   [visible]="path.visible">
                    </agm-direction>
                </div>

            </agm-map>
        </div>
    </div>
</div>
</body>






