<!--The content below is only a placeholder and can be replaced.-->
<head xmlns="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="left-bar col-lg-2">
            <div class="row">
                <div class="navbar">
                    <i class="material-icons pull-left">menu</i>
                    <div class="pull-right">
                        <i class="material-icons truck-route-icon">map</i>
                        <span style="line-height: 72px; vertical-align: middle;"> {{ title }}</span>
                    </div>
                </div>
            </div>

            <span id="result-km"></span>
            <div class="add-route">
                <label for="stopover-textfield">Nereden - Nereye:</label>
                <input type="text" id="stopover-textfield" [(ngModel)]="city" (keyup)="searchCity()"
                       placeholder="Şehir"/>
            </div>
            <div id="search-container">
                <ul id="search-result-list"></ul>
            </div>
            <ul class="stopover-list"></ul>
            <div class="routes">
                <ul class="route-list"></ul>
            </div>
            <div class="road-options">
                <h5 style="opacity: 0.5; color: white;">Yol Profili</h5>
                <div class="roadTypeContainer">
                    <label class="container">Paralı Yol
                        <input ngModel="paidRoad" type="checkbox" style="display: none;" id="tollRoad">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Feribot
                        <input ngModel="ferry" type="checkbox" style="display: none;" id="boatFerry">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Tünel
                        <input ngModel="tunnel" type="checkbox" style="display: none;" id="tunnel">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Topraklı Yol
                        <input ngModel="groundRoad" type="checkbox" style="display: none;" id="dirtRoad">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="truck-profile">
                <button class="btn btn-primary" id="calculate-button" style="background: white; color: black;"
                        (click)="doGet()">Rotayı
                    Hesapla
                </button>
            </div>
            <div class="row footer">
                <div class="col-sm-2">
                    <i id="truck-route-icon-bottom" class="material-icons">map</i>
                </div>
                <div class="col-sm-8 footer-text">
                    <p>All rights reserved.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-10">
            <agm-map [latitude]="lat" [longitude]="lng">
                <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
                <agm-direction *ngIf="dir"
                               [origin]="dir.origin"
                               [destination]="dir.destination"
                               [travelMode]=""></agm-direction>
            </agm-map>
        </div>
    </div>
</div>
</body>






